table {border-collapse: collapse}

h2 b {
  font-size: small;
  margin-left: 1em;
}

table.order tr {
  th {
    font-size: small;
  }
  td, th {
    border-right: 1px solid black;
    padding: 1px 5px;
  }
  td:last-child, th:last-child {
    border-right: none;
  }
}

table.order tr:nth-child(3) {
  /* 3rd row of bit numbers */
  font-size: x-small;
  td span:nth-child(2) {
    float: right;
  }
}
