table {border-collapse: collapse}

h2 b {
  font-size: small;
  margin-left: 1em;
}

table.order tr {
  th {
    font-size: small;
    border-bottom: 1px solid black;
  }
  td, th {
    border-right: 1px solid black;
    padding: 1px 5px;
    text-align: center;
  }
  td:last-child, th:last-child {
    border-right: none;
  }
}

table.order tr:nth-child(3) {
  /* 3rd row of bit numbers */
  font-size: x-small;
  td {
    span:first-child{
      float: left;
      text-align: left;
    }
    span:2nd-child {
      float: right;
      text-align: right;
    }
  }
}
